/*

    ██████╗ ███████╗███████╗ █████╗ ██╗   ██╗██╗  ████████╗
    ██╔══██╗██╔════╝██╔════╝██╔══██╗██║   ██║██║  ╚══██╔══╝
    ██║  ██║█████╗  █████╗  ███████║██║   ██║██║     ██║   
    ██║  ██║██╔══╝  ██╔══╝  ██╔══██║██║   ██║██║     ██║   
    ██████╔╝███████╗██║     ██║  ██║╚██████╔╝███████╗██║ 

*/

:root {
    --background-primary: #191f28;
    --background-secondary: #141a22;
    --background-secondary-alt: #141a22;
    --background-tertiary: #0f1318;
    --background-floating: #0f1318;
    
    /* Акцентные цвета */
    --background-accent: #c69f68;
    --text-brand: #c69f68;
    --interactive-active: #ccccb5;
    --interactive-hover: #c69f68;
    --interactive-normal: #ccccb5;
    
    /* Текстовые цвета */
    --text-normal: #ccccb5;
    --text-muted: #4b5975;
    --text-link: #c69f68;
    --header-primary: #ccccb5;
    --header-secondary: #4b5975;
    
    /* Модификаторы */
    --background-modifier-hover: rgba(198, 159, 104, 0.1);
    --background-modifier-active: rgba(198, 159, 104, 0.2);
    --background-modifier-selected: rgba(198, 159, 104, 0.3);
    
    /* Статусы */
    --status-danger: #b81b2c;
    --status-warning: #c69f68;
    --status-positive: #8f744b;
    
    /* Дополнительные элементы */
    --channeltextarea-background: #141a22;
    --scrollbar-auto-thumb: #4b5975;
    --scrollbar-auto-track: #0f1318;
    
    --accent: #c69f68;

    /* Цвета для ошибок и предупреждений */
    --text-danger: #b81b2c;
    --status-danger: #b81b2c;
    --status-danger-background: #84131f;
    
    /* Дополнительные переменные для совместимости */
    --info-danger-foreground: #b81b2c;
    --info-danger-background: #84131f;
    --background-danger: #84131f;
}

.theme-dark {
    /* МНОГО МНОГО всяких брендов */
    --brand-100: hsl(30 calc(1 * 77.778%) 98.235% / 1);
    --brand-100-hsl: 30 calc(var(--saturation-factor, 1)* 77.778%) 98.235%;
    --brand-130: hsl(25.714 calc(1 * 87.5%) 96.863% / 1);
    --brand-130-hsl: 25.714 calc(var(--saturation-factor, 1)* 87.5%) 96.863%;
    --brand-160: hsl(24.545 calc(1 * 84.615%) 94.902% / 1);
    --brand-160-hsl: 24.545 calc(var(--saturation-factor, 1)* 84.615%) 94.902%;
    --brand-200: hsl(26 calc(1 * 83.333%) 92.941% / 1);
    --brand-200-hsl: 26 calc(var(--saturation-factor, 1)* 83.333%) 92.941%;
    --brand-230: hsl(25.5 calc(1 * 86.957%) 90.98% / 1);
    --brand-230-hsl: 25.5 calc(var(--saturation-factor, 1)* 86.957%) 90.98%;
    --brand-260: hsl(25.2 calc(1 * 86.207%) 88.627% / 1);
    --brand-260-hsl: 25.2 calc(var(--saturation-factor, 1)* 86.207%) 88.627%;
    --brand-300: hsl(25.161 calc(1 * 86.111%) 85.882% / 1);
    --brand-300-hsl: 25.161 calc(var(--saturation-factor, 1)* 86.111%) 85.882%;
    --brand-330: hsl(24.75 calc(1 * 85.106%) 81.569% / 1);
    --brand-330-hsl: 24.75 calc(var(--saturation-factor, 1)* 85.106%) 81.569%;
    --brand-345: hsl(24.783 calc(1 * 85.185%) 78.824% / 1);
    --brand-345-hsl: 24.783 calc(var(--saturation-factor, 1)* 85.185%) 78.824%;
    --brand-360: hsl(25.152 calc(1 * 86.087%) 77.451% / 1);
    --brand-360-hsl: 25.152 calc(var(--saturation-factor, 1)* 86.087%) 77.451%;
    --brand-400-hsl: 24.677 calc(var(--saturation-factor, 1)* 86.111%) 71.765%;
    --brand-430: hsl(25 calc(1 * 85.714%) 69.804% / 1);
    --brand-430-hsl: 25 calc(var(--saturation-factor, 1)* 85.714%) 69.804%;
    --brand-460: hsl(24.93 calc(1 * 85.542%) 67.451% / 1);
    --brand-460-hsl: 24.93 calc(var(--saturation-factor, 1)* 85.542%) 67.451%;
    --brand-500-hsl: 24.935 calc(var(--saturation-factor, 1)* 85.556%) 64.706%;
    --brand-530: hsl(24.857 calc(1 * 66.667%) 58.824% / 1);
    --brand-530-hsl: 24.857 calc(var(--saturation-factor, 1)* 66.667%) 58.824%;
    --brand-560: hsl(24.72 calc(1 * 51.44%) 52.353% / 1);
    --brand-560-hsl: 24.72 calc(var(--saturation-factor, 1)* 51.44%) 52.353%;
    --brand-600-hsl: 24.857 calc(var(--saturation-factor, 1)* 46.667%) 44.118%;
    --brand-630: hsl(25.385 calc(1 * 46.667%) 38.235% / 1);
    --brand-630-hsl: 25.385 calc(var(--saturation-factor, 1)* 46.667%) 38.235%;
    --brand-660: hsl(24.75 calc(1 * 47.059%) 33.333% / 1);
    --brand-660-hsl: 24.75 calc(var(--saturation-factor, 1)* 47.059%) 33.333%;
    --brand-700: hsl(25.161 calc(1 * 46.97%) 25.882% / 1);
    --brand-700-hsl: 25.161 calc(var(--saturation-factor, 1)* 46.97%) 25.882%;
    --brand-730: hsl(24.828 calc(1 * 46.774%) 24.314% / 1);
    --brand-730-hsl: 24.828 calc(var(--saturation-factor, 1)* 46.774%) 24.314%;
    --brand-760: hsl(24.34 calc(1 * 46.903%) 22.157% / 1);
    --brand-760-hsl: 24.34 calc(var(--saturation-factor, 1)* 46.903%) 22.157%;
    --brand-800: hsl(24.894 calc(1 * 47.475%) 19.412% / 1);
    --brand-800-hsl: 24.894 calc(var(--saturation-factor, 1)* 47.475%) 19.412%;
    --brand-830: hsl(25 calc(1 * 47.368%) 14.902% / 1);
    --brand-830-hsl: 25 calc(var(--saturation-factor, 1)* 47.368%) 14.902%;
    --brand-860: hsl(24.783 calc(1 * 46.939%) 9.608% / 1);
    --brand-860-hsl: 24.783 calc(var(--saturation-factor, 1)* 46.939%) 9.608%;
    --brand-900: hsl(22.5 calc(1 * 50%) 3.137% / 1);
    --brand-900-hsl: 22.5 calc(var(--saturation-factor, 1)* 50%) 3.137%;

    /* Основные цвета фона */
    --background-primary: #191f28;
    --background-secondary: #141a22;
    --background-secondary-alt: #141a22;
    --background-tertiary: #0f1318;
    --background-floating: #0f1318;
    --background-mobile-primary: #191f28;
    --background-mobile-secondary: #141a22;
    --bg-surface-overlay: var(--background-secondary);
    --bg-surface-raised: #252a32;
    --background-nested-floating: var(--background-secondary);
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-secondary);
    --input-background: var(--background-secondary);
    
    /* Акцентные цвета */
    --background-accent: #c69f68;
    --text-brand: #c69f68;
    --interactive-active: #ccccb5;
    --interactive-hover: #c69f68;
    --interactive-normal: #ccccb5;
    --interactive-muted: #262e3d;
    
    /* Текстовые цвета */
    --text-normal: #ccccb5;
    --text-muted: #4b5975;
    --text-link: #c69f68;
    --header-primary: #ccccb5;
    --header-secondary: #4b5975;
    --text-positive: var(--accent);
    
    /* Я задолбался. Меняю бренды. */
    --brand-500: var(--accent);
    --brand-400: #b38e5c;
    --brand-600: #a38051;

    /* Модификаторы */
    --background-modifier-hover: rgba(198, 159, 104, 0.1);
    --background-modifier-active: rgba(198, 159, 104, 0.2);
    --background-modifier-selected: rgba(198, 159, 104, 0.3);
    
    /* Статусы */
    --status-danger: #b81b2c;
    --status-warning: #c69f68;
    --status-positive: #8f744b;
    --status-positive-background: #8f744b;
    
    /* Дополнительные элементы */
    --channeltextarea-background: #141a22;
    --scrollbar-auto-thumb: #4b5975;
    --scrollbar-auto-track: #0f1318;
    --button-filled-brand-text: #fffdfa;
    --button-filled-brand-background-hover: var(--status-positive);
    --button-positive-background: var(--status-positive);
    --control-brand-foreground-new: var(--interactive-hover);

    --accent: #c69f68;

    /* Цвета для ошибок и предупреждений */
    --text-danger: #b81b2c;
    --status-danger: #b81b2c;
    --status-danger-background: #84131f;
    
    /* Дополнительные переменные для совместимости */
    --info-danger-foreground: #b81b2c;
    --info-danger-background: #84131f;
    --background-danger: #84131f;
    --button-danger-background: #b81b2c;
    --button-outline-danger-border: #b81b2c;
    --button-outline-danger-background-hover: #b81b2c;
    --button-outline-danger-border-hover: #b81b2c;
}

.repliedMessage_f9f2ca .repliedTextPreview_f9f2ca .repliedTextContent_f9f2ca, .threadMessageAccessory_f9f2ca .threadMessageAccessoryPreview_f9f2ca .threadMessageAccessoryContent_f9f2ca {
    color: var(--text-normal);
}

.addStatusPrompt_af9888 {
    color: var(--header-primary);
}

/* Подсветка при выделении текста */
::selection {
    background-color: rgba(198, 159, 104, 0.3);
    color: #ccccb5;
}

.checked_cebd1c {
    background-color: var(--interactive-hover) !important;
}

.slider_cebd1c svg path[fill]:not([fill="rgba(128, 132, 142, 1)"]) {
    fill: var(--interactive-hover) !important;
}

.container_cebd1c[background-color]:not([background-color="rgba(128, 132, 142)"]) {
    background-color: var(--interactive-hover) !important;
}

/* Цвет каретки в текстовых полях */
.inputDefault-3FGxgL {
    caret-color: #8f744b;
}

/* Стили для сообщений об ошибках */
.errorMessage-1kMqS1 {
    color: #b81b2c;
    background-color: rgba(132, 19, 31, 0.1);
}

/* Подсветка опасных действий */
.colorDanger-2qLCe1 {
    color: #b81b2c;
    background-color: #84131f;
}

.scroller_fea3ef {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: 12px 0 0;
    flex: 0 1 auto;
}

.wrapper_fea3ef {
    order: 3;
}

.pill_a5ad63 {
    left: 65px;
}

.panels_a4d4d9 {
    order: -1;
}

.pill_f9623d {
    left: 65px;
}

.accountProfilePopoutWrapper_b2ca13 {
    left: 5px;
}

.colorDefault_d90b3d.focused_d90b3d {
    background-color: var(--interactive-hover);
    color: var(--white);
}

.wrapper_f90abb:hover .childWrapper_f90abb, .wrapper_f90abb.selected_f90abb .childWrapper_f90abb {
    color: var(--white);
    background-color: var(--interactive-hover);
}

.circleIconButton_db6521.selected_db6521 {
    color: var(--white-500);
    background-color: var(--interactive-hover);
}

.lookFilled_dd4f85.colorBrand_dd4f85 {
    color: var(--button-filled-brand-text);
    background-color: var(--interactive-hover);
}

.top_a0 .brand_a0.selected_a0.item_a0 {
    border-bottom-color: var(--accent);
}

.top_a0 .brand_a0.item_a0:hover {
    border-bottom-color: var(--background-accent);
}

.lookFilled_dd4f85.colorPrimary_dd4f85 {
    color: var(--button-secondary-text);
    background-color: var(--bg-surface-raised);
}



/*

    ███████╗ ██████╗ ██████╗     ██████╗ ██╗     ██╗   ██╗ ██████╗ ██╗███╗   ██╗███████╗
    ██╔════╝██╔═══██╗██╔══██╗    ██╔══██╗██║     ██║   ██║██╔════╝ ██║████╗  ██║██╔════╝
    █████╗  ██║   ██║██████╔╝    ██████╔╝██║     ██║   ██║██║  ███╗██║██╔██╗ ██║███████╗
    ██╔══╝  ██║   ██║██╔══██╗    ██╔═══╝ ██║     ██║   ██║██║   ██║██║██║╚██╗██║╚════██║
    ██║     ╚██████╔╝██║  ██║    ██║     ███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║███████║
    ╚═╝      ╚═════╝ ╚═╝  ╚═╝    ╚═╝     ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝╚══════╝

*/

.button_Jt-tIg { /* Plugin ReadAllNotificationsButton: button "read all" */
    border-radius: 64px;
}

/*

    ███████╗ ██████╗ ██████╗     ██████╗ ███████╗████████╗████████╗███████╗██████╗ 
    ██╔════╝██╔═══██╗██╔══██╗    ██╔══██╗██╔════╝╚══██╔══╝╚══██╔══╝██╔════╝██╔══██╗
    █████╗  ██║   ██║██████╔╝    ██████╔╝█████╗     ██║      ██║   █████╗  ██████╔╝
    ██╔══╝  ██║   ██║██╔══██╗    ██╔══██╗██╔══╝     ██║      ██║   ██╔══╝  ██╔══██╗
    ██║     ╚██████╔╝██║  ██║    ██████╔╝███████╗   ██║      ██║   ███████╗██║  ██║
    ╚═╝      ╚═════╝ ╚═╝  ╚═╝    ╚═════╝ ╚══════╝   ╚═╝      ╚═╝   ╚══════╝╚═╝  ╚═╝

*/

.bd-addon-list .bd-addon-card:nth-child(even) .bd-addon-header {
    background-color: var(--background-secondary); /* #141a22 - темно-синий */
}

.bd-addon-list .bd-addon-card:nth-child(odd) .bd-addon-header, .bd-addon-list.bd-grid-view .bd-addon-card .bd-addon-header {
    background-color: var(--background-secondary); /* #191f28 - чуть светлее темно-синий */
}

.bd-addon-list .bd-addon-card:nth-child(odd), .bd-addon-list.bd-grid-view .bd-addon-card {
    background-color: var(--background-primary);
}

.bd-addon-list .bd-addon-card:nth-child(even) {
    background-color: var(--background-primary);
}

.bd-switch input:checked+.bd-switch-body {
    --switch-color: var(--interactive-hover);
}

.bd-filled-checkmark {
    background: var(--interactive-hover);
}

.bd-empty-updates svg {
    fill: var(--interactive-hover);
}

.bd-button-filled.bd-button-color-brand {
    color: var(--white-500);
    background-color: var(--header-secondary);
    height: 29px;
}

.bd-addon-controls .bd-button.selected {
    background-color: var(--interactive-hover);
}

.bd-button-filled.bd-button-color-brand:disabled {
    background-color: var(--header-secondary);
    opacity: .4;
}
